.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    
}
.nav-menu{

    display: flex;
    
}
.nav-menu li{
    padding: 0 1rem;
    list-style-type: none;
    
}

.nav-menu li a{
    font-size: 0.6rem;
    font-weight: 200; 
}
.menu-icon{
display: none;
}

@media screen and (max-width:1040px) {
 .nav-menu{
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     position: absolute;
     height: 100vh;
     z-index: -3;
     top: 0;
     left:0;

 }
 .nav-menu li{
     padding:1rem 0;
 }

 .nav-menu li a{
     font-size: 1rem;
 }
 .menu-icon{
    display: initial;
    }
}